.card-body {
  width: 18rem;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(rgb(251, 219, 160), rgb(251, 231, 207), rgb(248, 232, 208));
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;

  padding-top: 30px;
  padding-bottom: 30px;
  background-color: aqua;
}

.containerFoodCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.picture .list{
  flex: 1;
}